/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron {
  padding: 15px;
	background-color: #666;
}
#bold {
  font-weight: bold;
}
.jumbotron h1 {
	color: white;
}
.jumbotron p {
	color: white;
}
/*align the contents of the list group in the price table*/
.features {
	text-align: center;
}
.price {
	display: block;
	line-height: 32px;
	font-size: 32px;
}
span sup {
	font-size: 20px;
}
.navtext {
	color: white;
}
.btn-primary {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.panel-primary {
  border-color: #ebccd1;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #d9534f;
  border-color: #ebccd1;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-primary > .panel-heading .badge {
  color: #d9534f;
  background-color: #a94442;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}
.jumbotron img #profile {
	border-radius: 150px;
}

.alert {
	margin-top: 20px;
	margin-bottom: 20px;
}
.basic {
  padding-top: 10%;
  list-style: none;
}
.panel {
  margin-top: 10px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-right {
	padding-top: 7px;
}